.Colors {
    width: 100vw;
    height: 100vh;

    z-index: 99;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url('../../../public/wallpaper-Colors.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Colors__Simon {
    width: clamp(250px, 20vw, 300px);
    aspect-ratio: 1/1;
    list-style: none;

    border-radius: 50%;
    border: 1px solid rgb(9, 9, 9);
    background: radial-gradient(circle at 40% 70%, rgb(35, 35, 35),rgb(14, 14, 14));
 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    padding: 1%;
    transition: .3s;
}

.Colors__Simon__btn{
    border: 3px solid rgb(11, 11, 11);
    width: 100%;
    aspect-ratio: 1/1;

    cursor: pointer;
    transition: .3s;
}

.red{
    border-top-left-radius: 100%;
    background: radial-gradient(circle at 40% 70%, rgb(210, 12, 12), rgb(125, 0, 0));
}

.blue{
    border-top-right-radius: 100%;
    background: radial-gradient(circle at 40% 70%, rgb(22, 12, 210), rgb(0, 15, 125));
}


.green{
    border-bottom-left-radius: 100%;
    background: radial-gradient(circle at 40% 70%, rgb(98, 210, 12), rgb(10, 125, 0));
}

.yellow{
    border-bottom-right-radius: 100%;
    background: radial-gradient(circle at 40% 70%, rgb(194, 210, 12),rgb(125, 119, 0));
}

.red:active{
    background: radial-gradient(circle at 40% 70%, rgb(210, 12, 12), rgb(245, 0, 0));
}
.blue:active{
    background: radial-gradient(circle at 40% 70%, rgb(22, 12, 210), rgb(0, 26, 225));
}
.green:active{
    background: radial-gradient(circle at 40% 70%, rgb(98, 210, 12), rgb(20, 238, 0));
}
.yellow:active{
    background: radial-gradient(circle at 40% 70%, rgb(194, 210, 12),rgb(241, 229, 0));
}


.simon-error{
    box-shadow: 0px 0px 30px red;
    border: 1px solid red;
    animation: simon-error-animation .3s ease-in-out;
}

@keyframes simon-error-animation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
