.CatchIko{
    width: 100%;
    min-height: 130vh;
    position: relative;
}

.CatchIko__iko{
   position: absolute;
   width: 200px;
   height: 200px;
   border: 2px solid rgb(0, 255, 255);
   border-radius: 10rem;
   transition: 1s;
   cursor: pointer;
}
