.CatchIko{
    width: 100vw;
    min-height: 150vh;

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;

    background: url('../../../public/wallpaper-catch_iko.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CatchIko::before{
    content: '';
    
    width: 100vw;
    height: 100vh;
    position: fixed;

    background-color: rgba(0, 0, 0, 0.468);
}

.CatchIko__iko{
   position: absolute;
   width: 200px;
   height: 200px;
   border: 2px solid rgb(0, 255, 255);
   border-radius: 10rem;
   transition: 1s;
   cursor: pointer;
}
