.CopyTheCode {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: clamp(40px, 5vw, 100px);
    text-align: center;

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;

    background: url('../../../public/wallpaper-catch_iko.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CopyTheCode__span {
    border: 5px inset white;
    position: relative;

    width: clamp(240px, 40vw, 1000px);
    height: clamp(40px, 5vw, 60px);

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(20px, 2vw, 50px);
    font-style: italic;
    letter-spacing: 3px;

    background: linear-gradient(20deg, rgb(169, 169, 169), rgb(255, 255, 255));
    color: rgb(38, 38, 38);

    transition: .3s;
}


.CopyTheCode__span--error{
    animation: fadeOn 0.3s ease-out forwards;
    box-shadow: 0px 0px 10px red;
    color: red;
    
    transition: .3s;
}

.CopyTheCode__span--error::before {
    width: clamp(240px, 40vw, 1000px);
    height: clamp(40px, 5vw, 60px);

    display: flex;
    align-items: center;
    justify-content: center;

    content: "¡Código incorrecto!";
    position: absolute;
    font-size: clamp(20px, 1.5vw, 50px);
    color: red;
    animation: fadeIn 0.3s ease-out forwards;
    z-index: -1;
}

@keyframes fadeOn {
    0%{
        bottom: 0;
    }
    100%{
        bottom: 20px;
    }
}

@keyframes fadeIn {
    0%{
        bottom: 0;
    }
    100%{
        bottom: -50px;
    }
}

.CopyTheCode__form{
    position: relative;
    width: clamp(240px, 30vw, 360px);
    height: clamp(30px, 3vw, 50px);

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2px;
}

.CopyTheCode__form__input{
    padding: 2%;
    background-color: rgb(43, 43, 43);
    border: none;
    color: rgb(205, 205, 205);
    font-size: clamp(20px, 1vw, 50px);
    font-family: 'Courier New', Courier, monospace;
}

.CopyTheCode__form__btn{
    color: white;
    background: radial-gradient(circle at 80% 10%, rgb(141, 232, 141), rgb(32, 171, 1));
    border: 1px solid white;
}

.CopyTheCode__form::before{
    width: clamp(240px, 30vw, 360px);
    height: clamp(30px, 3vw, 50px);

    display: flex;
    align-items: center;
    justify-content: center;

    content: "Puedes pulsar [ Enter ] para validar ^^";
    position: absolute;
    font-size: clamp(15px, 0.2vw, 30px);
    color: rgb(174, 174, 174);
    bottom: -40px;
}