.QuickTimeEvent {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    z-index: 99;
    position: fixed;
    background-image: url('../../../public/wallpaper-QuickTimeEvent.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.QuickTimeEvent__list {
    width: clamp(250px, 70vw, 720px);
    aspect-ratio: 16/9;
    position: relative;

    background-color: rgba(0, 0, 0, 0.577);
    border: 1px solid white;
    border-radius: 20px;

    display: flex;
    list-style: none;

}

.QuickTimeEvent__list__item {
    position: absolute;

    width: 60px;
    aspect-ratio: 1/1;

    border: 1px solid white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle at 30% 50%, rgb(61, 61, 61), rgb(18, 18, 18));


    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: rgb(189, 254, 232);
    text-shadow: 0px 0px 10px white;
    transition: .3s;
}

.QuickTimeEvent__list__item::before {
    content: '';
    position: absolute;
    width: 130%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 6px solid red;
    box-sizing: border-box;
    animation: erase-border 4s linear reverse;
    transform: rotate(-90deg);
}

/* Animación para borrar el borde de izquierda a derecha */
@keyframes erase-border {
    0% {
        clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
    }

    25% {
        clip-path: polygon(0% 0%, 25% 0%, 25% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    }

    75% {
        clip-path: polygon(0% 0%, 75% 0%, 75% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}


@keyframes timeOfTheKey {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


.keyPressed {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px white;
    border: 1px solid aqua;
    color: aqua;
    animation: keyPressedAnimation .3s ease-in forwards;
}


@keyframes keyPressedAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}